{{- if .signingPublicKey -}}
{{- $emails := list .email -}}
{{- range (dig "work" (list) .) }}{{ $emails = append $emails .email }}{{ end -}}
{{ join "," $emails }} namespaces="git" {{ .signingPublicKey }}
{{ end -}}
